body {
  background-color: lightskyblue;
  font-family: arial;
  font-size: 20px;
 }

h1 {
  color: black;
  font-family: Times;
  background-color: green;
 }

 h2 {
  color: darkred;
  font-family: arial;
  font-size: 28px;     
  }

p {
  color: green;
  font-weight: bold;
 }

input[type=button]{
	background-color: black;
	color: white;
	cursor: pointer;
	font-size: 20px;
	padding: 20px 40px;

}